html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("../public/background.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#background {
  height: 100vh;
  width: 100vw;
  background-image: url("../public/background.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 0 !important;
}

canvas {
  z-index: 0 !important;
}

@media only screen and (max-width: 600px) {
  canvas {
    display: none;
  }
}
